WEB_PHP_VERSION=8.4
WEB_VHOSTS_DIR=~/www

WEB_HOSTNAME=127.0.0.1
WEB_HOSTNAME_PORT=80

DATABASE_HOST=127.0.0.1
DATABASE_HOST_PORT=3306

REDIS_PORT=6379
WEB_IPV4_NETWORK=172.25.2

WEB_NUXT_PORT=3000

MYSQL_ROOT_PASSWORD=password